.user-booking {
  box-shadow: 0px 3px 10px #21252947;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-booking img {
  width: 100px;
}

.user-booking p {
  margin-bottom: 0;
}

.pending {
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
}

.approved {
  background-color: limegreen;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

@media only screen and (max-width: 668px) {
  .user-booking {
    flex-direction: column;
  }
  .user-booking img {
    width: 100%;
  }
  .user-booking p {
    margin: 10px 0;
  }

  .user-booking span p {
    margin: 0;
  }
}