.review .card-img-top {
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  object-fit: cover;
  transition: all 500ms ease;
}
.review .card-img-top:hover {
  overflow: hidden;
  transform: scale(1.2);
}
