.card {
  border: none!important;
}

.review .card-img-top {
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
  /* position: relative; */
  border-radius: 50%;
  height: 230px;
  width: 230px;
  object-fit: cover;
  transition: all 500ms ease;
  overflow: hidden;
}
.review:hover .card-img-top {
  transform: scale(0.90);
}

.review p {
  text-align: justify;
}

@media only screen and (max-width: 991px) {
  .review {
    margin-bottom: 20px;
  }
}