.carousel-caption {
  bottom: 20.25rem!important;
}

.carousel-caption h1 {
  font-size: 64px;
  color: #fff;
  font-weight: 700;
}

.carousel-caption p {
  font-size: 20px;
}

@media only screen and (max-width: 668px) {
  .carousel-caption {
    bottom: 0!important;
  }

  .carousel-caption h1 {
    font-size: 24px;
  }

  .carousel-caption p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 669px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 5rem!important;
  }

  .carousel-caption h1 {
    font-size: 48px;
  }
}