.place-booking-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.photo-gellary img {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 991px) {
  .photos img {
    margin-bottom: 15px;
  }
}